# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# Next.js
.next/
out/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
venv2/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Dataset/large files 
Dataset/
